:root{
    --background:#121212;
    --background-secondary: #2a2a2a;

    --lirycs-secondary:#6d6d6d;
    --lirycs:#f1eff1;

    --accent-color:#0078f0;

    margin: 0;
    padding: 0;

    --Very-Dark-Graayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

body{
/*     background-color: var(--lirycs-secondary);
 *//*     padding: 6em 3em 0 3em;
 */    
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
/*     background-color: cornflowerblue;
 */}

.article-component{
    width: 20rem;
    height: 500px;/* 640px for desktop */
    display: flex;
    flex-direction: column;
/*     background-color: dodgerblue;
 */    border-radius: 1em;
    box-shadow: 0 0 60px 10px var(--Grayish-Blue);  
}
/* Top section (only img) */
.article-component__img{
    max-height: 40%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 1em 1em 0 0;

}
/* the bottom section */
.article-component__text-contain{
    display: flex;
    max-height: 60%;
    height: 60%;
    flex-direction: column;
    flex-wrap: nowrap;
/*     background-color: saddlebrown;
 */    justify-content: space-between;
    
}
/* tittle and body description */
.text-contain__description-contain{
/*     background-color: fuchsia;
 */    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-self: flex-start;
    margin: 1.9em 1.5em 0em;

}

.description-contain__tittle{
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: var(--Very-Dark-Graayish-Blue);
}

.description-contain__body{
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin-top: 1em;
    color: var(--Grayish-Blue);
}

/* Writer, date and share */
.text-contain__info-contain{
    display: flex;
/*     background-color: indigo;
 */    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    max-height: 20%;
    justify-content: space-between;
    
    margin: 1em 1.5em;

}
/* Pic Name date */
.info-contain__author{
/*     background-color: lightcoral;
 */    height: 100%;
    display:flex;
    width: 80%;
    
}
.info-contain__author-avatar{
    clip-path: circle(50% at 50% 50%);
    height: 100%;

}
/* Name date */
.info-contain__info{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-left: 1em;
/*     background-color: purple;
 */
}   

.info__author-name{
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: var(--Very-Dark-Graayish-Blue);
/*     background-color: red;
 */}

.info__author__date{
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: var(--Desaturated-Dark-Blue);

}

.info-contain__share-contain{
/*     background-color: lawngreen;
 *//*     margin-left: auto;
 */
}

.share-contain__share-btnContain{
    border-radius: 50%;
    background-color: var(--Light-Grayish-Blue);
    padding: 6px;
}

.share-contain__social-media{
    display: none;
}

@media screen and (min-width:1000px){

    .article-component{
        width: 680px;
        max-width: 680px;
        height: 20rem;/* 640px for desktop */
        display: flex;
        flex-direction: row;
    /*     background-color: dodgerblue;
    */    border-radius: 1em;
        box-shadow: 0 0 60px 10px var(--Grayish-Blue);  
    }
    /* Top section (only img) */
    .article-component__img{
        max-height: 100%;
        max-width: 40%;
        border-radius: 1em  0 0 1em;

    }
    /* tittle and body description */
    .text-contain__description-contain{
        margin-top: 0;
        margin-bottom: 0;
    }
    /* the bottom section (now the righ)*/
    .article-component__text-contain{
        display: flex;
        max-width: 60%;
        width: 60%;
        height: 100%;
        min-height: 100%;
        flex-direction: column;
        flex-wrap: wrap;
/*         background-color: saddlebrown;
 */        justify-content: space-evenly;
        
    }
    .description-contain__tittle{
        font-size: 23px;
    }
    .description-contain__body{
        font-size: 15px;
    }

    .info__author-name{

        font-size: 17px;
    }

    .info__author__date{

        font-size: 15px;

    }

}